// _variables.scss

// Couleurs
$primary-color: #FCEED5;
$secondary-color: #003459;
$primary-font-color: #000000;
$secondary-font-color: #667479;
$filter-color: #00A7E7;
$light-font: #FFFFFF;

// Polices
$font-family: "Roboto", sans-serif;
$base-font-size: 1rem;

// Effets d'état
$hover-opacity: 0.8;
$border-radius-small: 5px;
$border-radius: 10px;
$border-radius-medium: 20px;
$border-radius-large: 30px;
